.main {
  margin: 0 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.results {
  height: 70vh;
  width: 70%;
  margin: 0 auto;
  background-color: aliceblue;
}

.search {
  height: 30vh;
  margin: auto;
}