.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    cursor: pointer;
    font-family: 'Fredoka', sans-serif;
    background-color: #e4a788;
    border: none;
    border-radius: 50px 50px 30px 30px;
    transition: 1s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
  }